.flight-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #063048;
    padding-bottom: 25%;
}

.welcome-section {
    color: #eaeaea;
    text-align: center;
    margin-top: 5rem;
}

.flight-selection-area {
    display: flex;
    width: 45%;
    min-width: 400px;
    align-items: center;
    background-color: rgb(96 105 119 / 60%);
    margin-top: 2rem;
}

.select-ticket-btn {
    background-color: #E81932;
    height: 55px !important;
    width: 50px;
    margin-left: 0.5rem;
    border-radius: 0 !important;
    border-color: #E81932;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personBtn {
    height: 55px !important;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 !important;
}

.set-person-count {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.set-person-count>p {
    font-size: 16px;
    font-weight: bold;
}

.eco-bus-radio-buttons {
    font-size: 16px;
}

.ant-select-selector>.ant-select-selection-placeholder {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.590);
}

.ant-picker-input>input {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.590) !important;
}

.ant-select-arrow {
    color: rgba(0, 0, 0, 0.590) !important;
}

.ant-select-selector {
    height: 55px !important;
    border-radius: 0 !important;
    align-items: center;
}

.ant-space-item > .ant-picker {
    border-radius: 0 !important;
    height: 55px;
}
